// COLORS
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-blue: #a6b5c5;

$background-grey:  #999;
$background-white: #fff;

$color-blue: #2998ff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
