.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  [class^="col-"] { // ^ selects all attributes that start with col- (*)says any that contain col- and ($) is end with col-
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc(( 100% - #{$gutter-horizontal}) / 2);
    transform: skewY(-2deg);
  }

  .col-1-of-5 {
    width: calc(( 100% - 4 * #{$gutter-horizontal}) / 5);
  }
}
